apiVersion: apps/v1
kind: Deployment
metadata:
  name: proj1-web
  labels:
    app: proj1-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: proj1-web
  template:
    metadata:
      labels:
        app: proj1-web
    spec:
      containers:
        - name: proj1-web
          image: devrahul16/myweb:v1
          ports:
            - containerPort: 80
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: proj1-web-service
spec:
  type: NodePort
  selector:
    app: proj1-web
  ports:
    - protocol: TCP
      port: 80          # Service Port
      targetPort: 80    # Container Port
      nodePort: 30080   # Port exposed externally
